<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>src="https://kit.fontawesome.com/le592b5726.js"</script>
	<link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/style/index.css}">
	<link rel="stylesheet" th:href="@{/style/usuario/perfil-usuario.css}">
    <title>Livraria - Perfil</title>
</head>
<body>
	<header th:replace="~{index :: index-header}"></header>
    <form th:replace="~{index :: index-form}"></form>
    <script th:replace="~{index :: index-script}"></script>
    <a th:replace="~{index :: index-carrinho}"></a>
    
    <main>
    	<div class="div-flex">
	    	<h3>Olá, <span th:text="${usuario.nome}"></span></h3>
	    	<div class="dados-usuario">
	        	<div class="dados" sec:authorize="hasAuthority('ROLE_ADMIN')"> 
	        		Nome: <span th:text="${usuario.nome}"></span><br/>
	        		E-mail: <span th:text="${usuario.email}"></span><br/>
	        		CPF: <span th:text="${usuario.CPF}"></span><br/>
	            </div>
	            
	            <div class="dados" sec:authorize="hasAuthority('ROLE_USER')"> 
	        		<span class="linha-span">Nome: <span th:text="${usuario.nome}"></span></span><br/>
	        		<span class="linha-span">E-mail: <span th:text="${usuario.email}"></span></span><br/>
	        		<span class="linha-span">CPF: <span th:text="${usuario.CPF}"></span></span><br/>
	        	</div>
	        	
	        	<div class="alterar-usuario">
					<a class="alterar-usuario" th:href="@{/usuario/alterar(email=${usuario.email})}">Alterar dados</a>
				</div>
				
	            
	        </div>
    	</div>
		<div class="div-flex">
				<h3>Histórico de pedido</h3>
			<div class="dados-usuarioo" id="historico">
				 <div class="dados" th:each="pedido: ${historicoPedidos}">
					<span class="linha-span">Id do Pedido: <span th:text="${pedido.id}"></span></span><br/>
					<span class="linha-span">valor do Pedido: <span th:text="${pedido.valorTotal}"></span></span><br/>
					<span class="linha-span">Status do Pedido: <span th:text="${pedido.status}"></span></span><br/>
				</div>
			</div>
		</div>
    </main>
</body>