<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria</title>
</head>
<body>
    <div th:if="${totalPages > 1}" th:fragment="pagination(url, pesquisa)">
        <link rel="stylesheet" th:href="@{/style/pagination.css}">
        <div class="pagination">
            <a th:if="${pageAtual > 0 && pesquisa==null}" th:href="@{${url}(page=${pageAtual - 1})}" class="back">&laquo;</a>
            <a th:if="${pageAtual > 0 && pesquisa!=null}" th:href="@{${url}(pesquisa=${pesquisa}, page=${pageAtual - 1})}" class="back">&laquo;</a>
            <div class="pages"
                th:each="pageNumber : ${numPages}">
                <a th:if="${pesquisa==null}" th:href="@{${url}(page=${pageNumber -1})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==pageAtual + 1} ? active">
                </a>
                <a th:if="${pesquisa!=null}" th:href="@{${url}(pesquisa=${pesquisa}, page=${pageNumber -1})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==pageAtual + 1} ? active">
                </a>
            </div>
            <a th:if="${totalPages > pageAtual+1 && pesquisa==null}" th:href="@{${url}(page=${pageAtual + 1})}" class="next">&raquo;</a>
            <a th:if="${totalPages > pageAtual+1 && pesquisa!=null}" th:href="@{${url}(pesquisa=${pesquisa}, page=${pageAtual + 1})}" class="next">&raquo;</a>
        </div>
    </div>
</body>
</html>