<!DOCTYPE html>
<html lang="pt-br">
<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script>src="https://kit.fontawesome.com/le592b5726.js"</script>
	    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
	    <link rel="stylesheet" th:href="@{/style/index.css}">
	    <title>Livraria</title>
		<link rel="stylesheet" th:href="@{/style/autor/crud-autor.css}">
		<script type="text/javascript" th:src="@{/script/autor/crud-autor.js}" src="/script/autor/crud-autor.js"></script>
</head>
<body>
    <header th:replace="~{index :: index-header}"></header>
    <form th:replace="~{index :: index-form}"></form>
    <script th:replace="~{index :: index-script}"></script>
    <a th:replace="~{index :: index-carrinho}"></a>
    
	<main>
		<h3>Gerenciamento de autores</h3>
    		<div class="main">    		
    			<div>
    				<form class="autor-form" method="post" th:action="@{/adicionar-autor}" th:object="${autor}">
				  		<div class="form-line">
				        		<label for="nome" >Nome: </label>
				        		<input class="campo" type="text" placeholder="Digite o nome do Autor" required id="nome" th:field="*{nome}" >
				        </div>
				      
				        <button class="btn-adicionar" type="submit" value="adicionar">Adicionar</button>	
			 		</form>
    			</div>
		            
		        <div class="autor-lista" th:each="item: ${listaAutores}">
					<span class="autor-id" th:text="${item.id}" >ID do autor</span>
					<form th:id="'form-autor-' + ${item.id}" class="autor-nome" method="post" th:action="@{/alterar-autor(id=${item.id})}" th:object="${autor}">
						<span th:id="'span-autor-' + ${item.id}" th:id-autor="${item.id}" th:text="${item.nome}" th:onclick="alterarNomeAutor(this.getAttribute('id-autor'))">nome do autor</span>
					</form>
		            <a class="alterar" th:id-autor="${item.id}" th:onclick="alterarNomeAutor(this.getAttribute('id-autor'))">Alterar</a>
		            <a class="excluir" th:href="@{/excluir(id=${autor.id})}">Excluir</a>
		        </div> 
    		</div>
	</main>
	
</body>
</html>