.main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.autor-lista{
	display: flex;
	justify-content: start;
	width: 600px;
	background-color: #17394a;
	box-shadow: 0px 0px 0.2em #666;
	color: #fff;
	margin-bottom: 1px;
	border-radius: 5px;
	padding-left: 5px;
}

.autor:hover{
	background-color: #3f80a1;
}

.autor-id{
	width: 5%;
}

.autor-nome{
	width: 55%;
}

.alterar{
	width: 20%;
	color: #fff;
}

.alterar:hover {
	cursor: pointer;
}
.excluir{
	width: 20%;
	color: #fff;
}

.autor-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.autor-form button{
	margin-bottom: 50px;
	margin-top: 10px;
	width: 200px;
	height: 30px;
	border-style: none;
	background-color: yellow;
	box-shadow: 0px 0px 0.2em #666;
}