<!DOCTYPE html>
<html lang="pt-br">
<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script>src="https://kit.fontawesome.com/le592b5726.js"</script>
	    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
	    <link rel="stylesheet" th:href="@{/style/index.css}">
	    <title>Livraria</title>
		<link rel="stylesheet" th:href="@{/style/livro/crud-livro.css}">
</head>
<body>
    <header th:replace="~{index :: index-header}"></header>
    <form th:replace="~{index :: index-form}"></form>
    <script th:replace="~{index :: index-script}"></script>
    <a th:replace="~{index :: index-carrinho}"></a>
    
	<main>
		<h3>Gerenciamento de Livros</h3>
		<div class="main">    
			<div>
				<a class="btn-pesquisar" href="/livro/cadastrar" value="Adicionar">Adicionar Livro</a>	
			</div>		
			<div>
				<form class="livro-form" method="get" action="/search-livro">
					<h3>Pesquisar Livro</h3>

					<div class="form-line">
							<label for="nome" >Título: </label>
							<input class="campo" type="text" name="pesquisa" placeholder="Digite o titulo do Livro" required id="titulo-livro-crud" >
					</div>
					<button class="btn-pesquisar" type="submit" value="Pesquisar">Pesquisar</button>	
				</form>
			</div>
			<div class="livro-center">
				<div class="list-livro" th:each="livro: ${listaLivros}">
					<span class="livro-isbn" th:text="${livro.ISBN}" >ID do livro</span>
					<span class="livro-titulo" th:text="${livro.titulo}" >titulo do livro</span>
					<div class="alterar">
						<a class="alterar" th:href="@{/livro/alterar(ISBN=${livro.ISBN})}">Alterar</a>
					</div>
					<div class="excluir">
						<a class="excluir" th:href="@{/livro/excluir(ISBN=${livro.ISBN})}">Excluir</a>
					</div>
				</div> 
			</div>
		</div>
		<div th:replace="~{fragments :: pagination(
			${#httpServletRequest.requestURI},
			${pesquisa}
		)}"></div>
	</main>
	
</body>
</html>